body {
    border: 0px;
    border: none;
    background-color: #fff;
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    max-width: 1200px;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin: auto;
    height: 65px;
}

#title {
    float: left;
    font-size: 2vh;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
}

.menu_container {
    font-size: 2vh;
    float: right;
    padding-top: 7px;
}

.menu {
    margin: 0px auto;
    display: block;
    list-style-type: disc;
}

.menu li {
    display: inline-block;
    padding: 5px 35px;
}

/* Style the active/current link*/
a:active, a:hover,  a:focus, .selected_menu {
    text-shadow: black 1px 0px 0px; 
}

a {
    text-decoration: none;
    color: black;
}

#portada {
    max-width: 800px;
    margin: auto;
    padding-top: 4vh;
}

#portada1-exibit {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 1100px;
    margin-bottom: 20px;
}

#portada1-exibit :nth-child(1) {
    margin-bottom: 10px;
}

#portada1-exibit :nth-child(3) {
    margin-bottom: 27px;
}

.portada-small {
    max-width: 400px;
}

.portada-large {
    max-width: 500px;
}

#portada2-exibit {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 2600px;
}

#portada2-exibit div {
    max-width: 400px;
    margin-bottom: 30px;
}

.portada-02, .portada-04, .portada-05, .portada-06, .portada-07, .portada-08, .portada-09, .portada-10, .portada-11, .portada-12, .portada-13, .portada-01, .portada-03 {
    display: inline-block;
    background: url('img/portada.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left; 
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
}
 
.portada-01 { background-position: -1px -5091px; width: 325px; height: 487px; }
.portada-02 { background-position: -1px -0px; width: 425px; height: 679px; }
.portada-03 { background-position: -1px -5579px; width: 325px; height: 487px; }
.portada-04 { background-position: -1px -680px; width: 425px; height: 282px; }
.portada-05 { background-position: -1px -963px; width: 375px; height: 563px; }
.portada-06 { background-position: -1px -1527px; width: 375px; height: 563px; }
.portada-07 { background-position: -1px -2091px; width: 375px; height: 563px; }
.portada-08 { background-position: -1px -2655px; width: 375px; height: 233px; }
.portada-09 { background-position: -1px -2889px; width: 375px; height: 233px; }
.portada-10 { background-position: -1px -3123px; width: 375px; height: 563px; }
.portada-11 { background-position: -1px -3687px; width: 375px; height: 605px; }
.portada-12 { background-position: -1px -4293px; width: 375px; height: 233px; }
.portada-13 { background-position: -1px -4527px; width: 375px; height: 563px; }

#exibit {
    max-width: 1200px;
    margin: auto;
    padding-top: 4vh;
    text-align: left;
    display: none;
}

#exibit div img {
    width: 300px;
    height: 450px;
    padding-bottom: 2vh;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    font-size: 2vh;
}
.project {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
}
.projects-1, .projects-2, .projects-3, .projects-4, .projects-5, .projects-6, .projects-7, .projects-8 {
    display: inline-block;
    background: url('img/proyectos/projects.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
}
 
.projects-1 { background-position: -1px -0px; width: 300px; height: 449px; }
.projects-2 { background-position: -302px -0px; width: 300px; height: 449px; }
.projects-3 { background-position: -1px -450px; width: 300px; height: 449px; }
.projects-4 { background-position: -302px -450px; width: 300px; height: 449px; }
.projects-5 { background-position: -1px -900px; width: 300px; height: 449px; }
.projects-6 { background-position: -302px -900px; width: 300px; height: 449px; }
.projects-7 { background-position: -1px -1350px; width: 300px; height: 449px; }
.projects-8 { background-position: -302px -1350px; width: 300px; height: 449px; }

#contact_container {
    display: none;
    max-width: 800px;
    margin: auto;
    padding-top: 4vh;
}

#contact {
    display: flex;
    font-size: 2vh;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

#conact_image img {
    width: 300px;
}

#contact_details {
    align-self: flex-end;
    text-align: left;
}

#contact_details ul {
    list-style-type: none;
}

.phrase {
    text-align: left;
    font-size: 2vh;
    max-width: 800px;
}

.phrase ul {
    list-style-type: none;
    padding-inline-start: 0px;
    padding-left: 0px;
}

.exibit-gallery {
    display: none;
    max-width: 800px;
    margin: auto;
    padding-top: 30px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.exibit-gallery div {
    padding-top: 30px;
}

.exibit-gallery div  img {
    box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.2);
}

.exibit-gallery .single {
    flex-grow: 1;
    max-width: 375px;
    text-align: center;
}

.exibit-gallery .double {
    flex-grow: 2;
}

.spaced {
    padding-bottom: 60px;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
    .menu_container {
        width: 100%;
        float: left;
    }

    .menu li {
        padding-right: 20px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .exibit-gallery { 
        justify-content: center;
    }

    .exibit-gallery div {
        flex-grow: 2;
        width: 401px;
        text-align: center;
    }
    .exibit-gallery .single {
        max-width: 401px;
    }

    .exibit-gallery div img  {
        max-width: 375px;
    }

    #portada1-exibit {
        max-height: 2200px;
        justify-content: center;
        align-items: center;
    }

    #portada2-exibit {
        max-height: 5200px;
        justify-content: center;
        align-items: center;
    }

    #portada1-exibit :nth-child(1) {
        transform: scale(1.15);
        margin-bottom: 110px;
    }
    
    #portada1-exibit :nth-child(2) {
        transform: scale(1.15);
        margin-bottom: 30px;
    }

    #portada1-exibit :nth-child(3) {
        margin-bottom: 0px;
        transform: scale(.8825);
    }

    #portada1-exibit :nth-child(4) {
        transform: scale(.8825);
    }
    
}
